*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
}

.head{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 5px;
}

.navmenu{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navlist{
    float: right;
}

.navlist a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 25px;
}

.navlist a:hover{
    background-color: #111;
}

.logo{
    display: flex;
}

.headfcb{
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 25px;
}

.sidemenu{
    margin: 0;
    padding: 0;
    list-style: circle;
    overflow: hidden;
    
}

.sidelist a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 25px;

}

.sidelist a:hover{
    background-color: #333;
}

.activeside{
    background-color: #4d4d4d;
}

.main{
    display: flex;
    height: max-content;
}

.sidebar{
    width: 15%;
    background-color: #111;
    
}
 .mainarea{
    width: 85%;
    background-color: aliceblue;
    padding: 10px;

 }

 .player-img{
    height: 250px;
    width: 230px;
    border: 3px solid black;
    box-shadow: 3px 3px #9c1231;
    margin: 10px 30px 10px 30px;
 }

 .nameofplayer{
    height: 30px;
    width: 230px;
    border: 3px solid black;
    box-shadow: 2px 2px #39129c;
    text-align: center;
    font-size: 20px;
    margin: 10px 30px 0 30px;
}
.title1{
    text-align: center;
    font-weight: bolder;
    border: 4px solid black;
    box-shadow: 4px #333;
    height: inherit;
    width: inherit;
    margin: 10px;
}

.keepers{
    display: flex;
}

.defender1,.defender2, .attack1,.attack2,.mid1,.mid2{
    display: flex;
}

.player-img:hover{
    height: 270px;
    width: 250px;
    box-shadow: 5px 5px solid #9c1231;
    transition-delay: 0.2s;
    transform-origin: center;
}